<div class="emp-form">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <h5 class="header">Add Employee</h5>
    <div
      class="emp-container"
      [ngStyle]="
        !isImageuploaded
          ? { 'flex-direction': 'column' }
          : { 'flex-direction': 'row' }
      "
    >
      <div class="profile">
        <div class="profile-info">
          <img [src]="profileImg" alt="profile" class="profile-pic" />
          <button
            #editButton
            type="button"
            class="edit-button"
            [ngStyle]="{ display: isImageuploaded ? 'flex' : 'None' }"
            (click)="inputImage()"
          >
            Edit
          </button>
          <input
            formControlName="profileImage"
            type="file"
            #imgInput
            id="profileImg"
            accept=".jpg,.png,.bmp"
            (change)="checkImage($event)"
          />
        </div>
        <div
          class="upload-img"
          [ngStyle]="
            isImageuploaded ? { display: 'None' } : { display: 'flex' }
          "
        >
          <button
            class="upload-img-button"
            type="button"
            (click)="inputImage()"
          >
            Upload Profile Picture
          </button>
          @if(employeeForm.controls['profileImage'].invalid &&
          (isSubmitted||employeeForm.controls['profileImage'].touched ||
          employeeForm.controls['profileImage'].dirty)) {
          <div
            class="text-danger"
            *ngIf="employeeForm.controls['profileImage'].errors?.['required']"
          >
            <img src="../../assets/invalid.png" class="invalid" />
            <p class="danger-msg">This field is required</p>
          </div>
          }
        </div>
      </div>
      <div
        class="emp-info"
        [ngStyle]="
          isImageuploaded ? { 'margin-left': '2%' } : { 'margin-left': '0%' }
        "
      >
        <div class="sub-sec-header">
          <h5>Personal Information</h5>
        </div>
        <div class="sub-sec">
          <div class="inner-sub-sec">
            <label for="employee-no">Emp No</label>
            <input
              formControlName="id"
              type="text"
              class="form-input input-required"
              placeholder="Text(TZ0001)"
            />
            @if(employeeForm.controls['id'].invalid &&
            (isSubmitted||employeeForm.controls['id'].touched ||
            employeeForm.controls['id'].dirty)) {
            <div
              class="text-danger"
              *ngIf="employeeForm.controls['id'].errors?.['required']"
            >
              <img src="../../assets/invalid.png" class="invalid" />
              <p class="danger-msg">This field is required</p>
            </div>
            <div
              class="text-danger"
              *ngIf="employeeForm.controls['id'].errors?.['pattern']"
            >
              <img src="../../assets/invalid.png" class="invalid" />
              <p class="danger-msg">The Id should be in format TZ0001</p>
            </div>
            <div
              class="text-danger"
              *ngIf="employeeForm.get('id')?.hasError('duplicateEmployeeId')"
            >
              <img src="../../assets/invalid.png" class="invalid" />
              <p class="danger-msg">Duplicate EmployeeId</p>
            </div>
            }
          </div>
        </div>
        <div class="sub-sec">
          <div class="inner-sub-sec">
            <label for="first-name">First Name</label>
            <input
              formControlName="firstName"
              type="text"
              class="form-input input-required"
              placeholder="Text"
            />
            @if(employeeForm.controls['firstName'].invalid &&
            (isSubmitted||employeeForm.controls['firstName'].touched ||
            employeeForm.controls['firstName'].dirty)) {
            <div
              class="text-danger"
              *ngIf="employeeForm.controls['firstName'].errors?.['required']"
            >
              <img src="../../assets/invalid.png" class="invalid" />
              <p class="danger-msg">This field is required</p>
            </div>
            <div
              class="text-danger"
              *ngIf="employeeForm.controls['firstName'].errors?.['pattern']"
            >
              <img src="../../assets/invalid.png" class="invalid" />
              <p class="danger-msg">
                The First Name should not contains numbers
              </p>
            </div>
            }
          </div>
          <div class="inner-sub-sec">
            <label for="last-name">Last Name</label>
            <input
              formControlName="lastName"
              type="text"
              class="form-input input-required"
              placeholder="Text"
            />
            @if(employeeForm.controls['lastName'].invalid &&
            (isSubmitted||employeeForm.controls['lastName'].touched ||
            employeeForm.controls['lastName'].dirty)) {
            <div
              class="text-danger"
              *ngIf="employeeForm.controls['lastName'].errors?.['required']"
            >
              <img src="../../assets/invalid.png" class="invalid" />
              <p class="danger-msg">This field is required</p>
            </div>
            <div
              class="text-danger"
              *ngIf="employeeForm.controls['lastName'].errors?.['pattern']"
            >
              <img src="../../assets/invalid.png" class="invalid" />
              <p class="danger-msg">
                The Last Name should not contains numbers
              </p>
            </div>
            }
          </div>
          <div class="inner-sub-sec">
            <label for="dob">Date of Birth</label>
            <input
              formControlName="dateOfBirth"
              type="text"
              onfocus="(this.type='date')"
              name="dob"
              id="dob"
              class="form-input"
              placeholder="Select"
            />
          </div>
        </div>
        <div class="sub-sec1">
          <div class="inner-sub-sec1">
            <label for="email">Email Id</label>
            <input
              formControlName="email"
              type="email"
              class="form-input input-required"
              placeholder="Joe.i@technovert.com"
            />
            @if(employeeForm.controls['email'].invalid &&
            (isSubmitted||employeeForm.controls['email'].touched ||
            employeeForm.controls['email'].dirty)) {
            <div
              class="text-danger"
              *ngIf="employeeForm.controls['email'].errors?.['required']"
            >
              <img src="../../assets/invalid.png" class="invalid" />
              <p class="danger-msg">This field is required</p>
            </div>
            <div
              class="text-danger"
              *ngIf="employeeForm.controls['email'].errors?.['email']"
            >
              <img src="../../assets/invalid.png" class="invalid" />
              <p class="danger-msg">Enter valid email address</p>
            </div>
            }
          </div>
          <div class="inner-sub-sec">
            <label for="mob-no">Mobile Number</label>
            <input
              formControlName="mobileNo"
              type="tel"
              class="form-input"
              maxlength="10"
              placeholder="0000000000"
            />
            @if(employeeForm.controls['mobileNo'].invalid &&
            (isSubmitted||employeeForm.controls['mobileNo'].touched ||
            employeeForm.controls['mobileNo'].dirty)) {
            <div
              class="text-danger"
              *ngIf="employeeForm.controls['mobileNo'].errors?.['pattern']"
            >
              <img src="../../assets/invalid.png" class="invalid" />
              <p class="danger-msg">Enter 10 digit mobile number</p>
            </div>
            }
          </div>
        </div>
        <div class="sub-sec-header1">
          <h5>Employment Information</h5>
        </div>
        <div class="sub-sec">
          <div class="inner-sub-sec1">
            <label for="joining-date">Joining Date</label>
            <input
              formControlName="joinDate"
              type="date"
              class="form-input-large input-required"
              placeholder="12/08/2023"
            />
            @if(employeeForm.controls['joinDate'].invalid &&
            (isSubmitted||employeeForm.controls['joinDate'].touched ||
            employeeForm.controls['joinDate'].dirty)) {
            <div
              class="text-danger"
              *ngIf="employeeForm.controls['joinDate'].errors?.['required']"
            >
              <img src="../../assets/invalid.png" class="invalid" />
              <p class="danger-msg">This field is required</p>
            </div>
            }
          </div>
          <div class="inner-sub-sec">
            <label for="loacation">Location</label>
            <select formControlName="locationId" class="selection">
              <option value="null" selected disabled hidden>
                Select Location
              </option>
              @for(location of locations;track locations) {
              <option value="{{ location.id }}">{{ location.name }}</option>
              }
            </select>
            @if(employeeForm.controls['locationId'].invalid &&
            (isSubmitted||employeeForm.controls['locationId'].touched ||
            employeeForm.controls['locationId'].dirty)) {
            <div
              class="text-danger"
              *ngIf="employeeForm.controls['locationId'].errors?.['required']"
            >
              <img src="../../assets/invalid.png" class="invalid" />
              <p class="danger-msg">This field is required</p>
            </div>
            }
          </div>
        </div>
        <div class="sub-sec2">
          <div class="inner-sub-sec">
            <label for="job-title">Job Title</label>
            <select formControlName="jobTitleId" class="selection">
              <option value="null" selected disabled hidden>
                Select JobTitle
              </option>
              @for(role of roles;track role) {
              <option value="{{ role.id }}">{{ role.name }}</option>
              }
            </select>
            @if(employeeForm.controls['jobTitleId'].invalid &&
            (isSubmitted||employeeForm.controls['jobTitleId'].touched ||
            employeeForm.controls['jobTitleId'].dirty)) {
            <div
              class="text-danger"
              *ngIf="employeeForm.controls['jobTitleId'].errors?.['required']"
            >
              <img src="../../assets/invalid.png" class="invalid" />
              <p class="danger-msg">This field is required</p>
            </div>
            }
          </div>
          <div class="inner-sub-sec">
            <label for="department">Department</label>
            <select formControlName="departmentId" class="selection">
              <option value="null" selected disabled hidden>
                Select Department
              </option>
              @for(dept of departments;track dept) {
              <option value="{{ dept.id }}">{{ dept.name }}</option>
              }
            </select>
            @if(employeeForm.controls['departmentId'].invalid &&
            (isSubmitted||employeeForm.controls['departmentId'].touched ||
            employeeForm.controls['departmentId'].dirty)) {
            <div
              class="text-danger"
              *ngIf="employeeForm.controls['departmentId'].errors?.['required']"
            >
              <img src="../../assets/invalid.png" class="invalid" />
              <p class="danger-msg">This field is required</p>
            </div>
            }
          </div>
        </div>
        <div class="sub-sec3">
          <div class="inner-sub-sec">
            <label for="assign-manager">Assign Manager</label>
            <select formControlName="managerId" class="selection">
              <option value="null" selected disabled hidden>Search</option>
              @for(man of managers;track man) {
              <option value="{{ man.id }}">
                {{ man.id + " " }}{{ man.firstName }}
              </option>
              }
            </select>
          </div>
          <div class="inner-sub-sec">
            <label for="assign-project">Assign Project</label>
            <select
              formControlName="projectId"
              class="selection input-required"
            >
              <option value="null" selected disabled hidden>
                Select Project
              </option>
              @for(prj of projects;track prj) {
              <option value="{{ prj.id }}">{{ prj.name }}</option>
              }
            </select>

            @if(employeeForm.controls['projectId'].invalid &&
            (isSubmitted||employeeForm.controls['projectId'].touched ||
            employeeForm.controls['projectId'].dirty)) {
            <div
              class="text-danger"
              *ngIf="employeeForm.controls['projectId'].errors?.['required']"
            >
              <img src="../../assets/invalid.png" class="invalid" />
              <p class="danger-msg">This field is required</p>
            </div>
            }
          </div>
        </div>
        <div class="sub-sec3">
          <div class="inner-sub-sec">
            <label for="assign-manager">Assign Status</label>
            <select formControlName="statusId" class="selection input-required">
              <option value="null" selected disabled hidden>
                Select Status
              </option>
              @for(status of statuses;track status) {
              <option value="{{ status.id }}">{{ status.name }}</option>
              }
            </select>
            @if(employeeForm.controls['statusId'].invalid &&
            (isSubmitted||employeeForm.controls['statusId'].touched ||
            employeeForm.controls['statusId'].dirty)) {
            <div
              class="text-danger"
              *ngIf="employeeForm.controls['statusId'].errors?.['required']"
            >
              <img src="../../assets/invalid.png" class="invalid" />
              <p class="danger-msg">This field is required</p>
            </div>
            }
          </div>
        </div>
        <div class="sub-sec">
          <div class="form-buttons">
            <button class="cancel" type="reset" (click)="onCancel()">
              Cancel
            </button>
            <button type="submit" class="add-Employee-button">
              {{ Operation }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div [ngClass]="isSuccesfullyAdded ? 'show' : ''" id="snackbar">
  Data Submitted successfully..
</div>
