* {
  box-sizing: border-box;
}
.tezo-shortimg {
  cursor: pointer;
}
.side-bar {
  position: sticky;
  top: 0;
  height: 420px;
  left: 1.1vw;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1100px) {
  .side-bar {
    display: none;
  }
}
.vertical-shview {
  display: none;
  position: sticky;
  top: 0;
  margin: 1% 1% 1% 1%;
  width: 100%;
  flex-direction: column;
}
@media only screen and (max-width: 1100px) {
  .vertical-shview {
    display: block;
    margin: 1% 2% 2% 1%;
    width: 5%;
    flex-direction: column;
  }
}
.tezo-shortimg {
  width: 40px;
  margin-left: -5%;
}
.nav-handlersh {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-handlersh-img {
  transform: rotate(180deg);
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin:7% 0% 0% 30%;
  display: block;
}
.dashboard-img {
  margin: 3vh 0vh 0vh 1vh;
  cursor: pointer;
}

.access-rtsimg {
  margin: 3vh 0vh 0vh 1vh;
  cursor: pointer;
}
.roles-img {
  margin: 3vh 0vh 0vh 1vh;
  cursor: pointer;
}
.employee-img {
  margin: 3vh 0vh 0vh 1vh;
  cursor: pointer;
}
.nav-item-emp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6%;
  padding: 1%;
}
.nav-employee {
  background-image: url(../../../assets/Employees.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  font-size: 15px;
  background-position-y: 11px;
  background-position-x: 7px;
  border-style: none;
  // background-color: #fff4f4;
  border-radius: 10%;
  // color: #fa5a5a;
  padding: 3% 30% 3% 18%;
  margin-right: 9%;
  cursor: pointer;
}
.active-link{
  background-color: #fff4f4;
  color: #fa5a5a;
  padding-right: 10px;
}
.nav-roles {
  float: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #818282;
  background-image: url(../../../assets/Roles.svg);
  padding-left: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  font-size: 15px;
  background-position-x: 7px;
  background-position-y: 4px;
  border-style: none;
  padding-left: 25px;
  margin-top: -5%;
  align-items: center;
  cursor: pointer;
}
.nav-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4%;
}
.logo {
  height: auto;
  margin-left: 3%;
}
.nav-handler {
  cursor: pointer;
}
.nav-head {
  color: #d5d6d7;
  font-weight: bolder;
  margin:10% 0% 10% 3%;
  font-size: 1vw;
}
.emp-decorator {
  height: 40px;
  border-left: 6px solid red;
  margin-right: 5%;
}
.nav {
  float: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #818282;
  background-image: url(../../../assets/Dashboard.svg);
  padding-left: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  margin-left: 3%;
  font-size: 15px;
  background-position-y: 4px;
  border-style: none;
  align-items: center;
}
.nav-item {
  text-decoration: none;
  color: #656667;
  margin-left: 8%;
  font-size: 110%;
}
.emp-nav-item {
  text-decoration: none;
  color: red;
  position: relative;
  font-size: 110%;
  padding-bottom: -10%;
}

.nav-accessrts {
  float: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #818282;
  background-image: url(../../../assets/assignUser.svg);
  padding-left: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  margin:5% 0% 0% 3%;
  font-size: 15px;
  background-position-y: 4px;
  border-style: none;
  align-items: center;
}
.new-versions {
  background-color: #fef6f6;
  padding: 5%;
  border-radius: 5%;
  font-size: 14px;
  margin:65% 5% 0% 0%;
}
.new-version-head {
  color: #f44848;
}
.version-desc {
  color: #d5d6d7;
  margin-top: -2%;
}
.nav-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.dismiss {
  padding: 4% 9%;
  border-radius: 15%;
  border-style: none;
  background-color: #f8c7c7;
  color: #f44848;
  cursor: pointer;
}
.accept {
  margin-left: 4%;
  padding: 4% 9%;
  border-radius: 15%;
  border-style: none;
  background-color: #f44848;
  color: white;
  cursor: pointer;
}
