<div
  class="side-bar"
  [ngStyle]="{ display: shortView == 'None' ? 'flex' : 'None' }"
>
  <div>
    <div class="nav-top">
      <div class="logo">
        <img src="assets/TezoLogo.png" alt="logo" routerLink="/home" />
      </div>
      <div class="nav-handler">
        <img
          class="nav-handler-img"
          src="assets/handle.png"
          (click)="expandNavBar()"
        />
      </div>
    </div>
    <h3 class="nav-head">ALL</h3>
    <div class="nav">
      <a routerLink="/home" class="nav-item">Dashboard</a>
    </div>
    <div class="nav-item-emp">
      <div class="nav-employee" routerLink="/home/employees" routerLinkActive="active-link">
        <a class="emp-nav-item" 
          >Employees</a
        >
      </div>
      <div class="emp-decorator"></div>
    </div>
    <div>
      <pre class="nav-head">ROLE/USER MANAGEMENT</pre>
      <div class="nav-roles" routerLink="/home/roles" routerLinkActive="active-link">
        <a  class="nav-item">Roles</a>
        <i
          class="fa fa-angle-right"
          style="font-size: 20px; padding-right: 22%; padding-top: 7%"
        ></i>
      </div>
      <div class="nav-accessrts">
        <a routerLink="/home"  class="nav-item">Access rights</a>
        <i
          class="fa fa-angle-right"
          style="font-size: 20px; padding-right: 22%; padding-top: 7%"
        ></i>
      </div>
    </div>
  </div>
  <div class="new-versions">
    <h6 class="new-version-head">Install new update 2.3.1A</h6>
    <p class="version-desc">
      Allow the launch the new update for the AD application
    </p>
    <div class="nav-buttons">
      <button class="dismiss">Dismiss</button>
      <button class="accept">Accept</button>
    </div>
  </div>
</div>
<div class="vertical-shview" [ngStyle]="{ display: shortView }">
  <div class="nav-handlersh">
    <img class="tezo-shortimg" src="assets/logoShort.png" routerLink="/home" />
    <img
      class="nav-handlersh-img"
      src="assets/handle.png"
      (click)="expandNavBar()"
    />
  </div>
  <div class="dashboard-img">
    <img src="assets/Dashboard.svg" routerLink="/home"  />
  </div>
  <div class="employee-img">
    <img src="assets/Employees.svg" routerLink="/home/employees" />
  </div>
  <div class="roles-img">
    <img src="assets/Roles.svg" routerLink="/home/roles" />
  </div>
  <div class="access-rtsimg">
    <img src="assets/assignUser.svg" routerLink="/home" />
  </div>
</div>
