.operations-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.operations-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 1%;
  height: 60px;
  align-items: center;
}
.header-heading {
  margin-top: 2%;
  color: #3b5064;
}

.header-heading-desc {
  color: #83909a;
  font-size: 13px;
}
.accessing-buttons {
  justify-content: space-between;
  font-size: 12px;
  align-items: center;
}

.export-button {
  background-color: rgb(255, 255, 255);
  background-image: url(../../../assets/maskedIcon.png);
  border: 1px solid rgb(151, 149, 149);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-x: 14px;
  background-position-y: 6px;
  padding: 5px 25px 5px 35px;
  border-radius: 8px;
  color: #818282;
  cursor: pointer;
}
span {
  content: "\271A";
  color: white;
  position: relative;
  left: 18%;
  cursor: pointer;
}
.add-button {
  background-color: #f44848;
  border-style: none;
  padding: 10px 25px 10px 55px;
  margin: 0px 10px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  margin-top: 1%;
  width: 100%;
}
.alphabet-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 160%;
  background-color: red;
}
.vector-area {
  padding-top: 0.7%;
}
.filter {
  display: flex;
  width: 100%;
  background-color: #fdf2f2;
  color: #f66868;
  padding: 0.5%;
  border: 1px solid #fbc0c0;
  border-radius: 6px;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  margin:1% 0% 1% 0%;
  font-size: 12px;
}

.filter-name {
  font-size: 1vw;
  color: rgb(254, 99, 99);
  font-family: poppins;
  margin: 0px 0px;
}

.filter-location-div {
  margin-left: 3%;
}

.filter-department-div {
  margin-left: 3%;
}
.filter-status-div {
  margin-left: 3%;
}

.filter-Control-Buttons {
  margin-left: 45%;
}

.vector-element {
  padding: 5px 11px;
  border-style: none;
  border-radius: 6px;
  cursor: pointer;
  color: #818282;
  background-color: #eaebee;
}
.selected-vector-element {
  padding: 5px 11px;
  border-style: none;
  border-radius: 6px;
  background-color: #f44848;
  cursor: pointer;
  color: white;
}
