<div class="role-types">
  @for(role of roles;track role) {
  <div class="role-particular">
    <div class="role-particular-subsec">
      <h6>{{ role.name }}</h6>
      <img
        src="../../../assets/edit.svg"
        alt="change-details"
        class="edit-changes"
      />
    </div>
    <div class="role-particular-subsec1">
      <div class="role-particular-comb">
        <img src="../../../assets/team.svg" />
        <h4>Department</h4>
      </div>
      <div>
        <h4>{{ role.departmentName }}</h4>
      </div>
    </div>
    <div class="role-particular-subsec2">
      <div class="role-particular-comb">
        <img src="../../../assets/location.svg" />
        <h4>Location</h4>
      </div>
      <div>
        <h4>{{ role.locationName }}</h4>
      </div>
    </div>
    <div class="role-particular-subsec2">
      <h4>Total Employees</h4>
      <img src="../../../assets/stackedProfiles.png" class="stacked-icon" />
    </div>
    <div class="role-particular-subsec">
      <div></div>
      <a routerLink="/home/roleDetails/{{ role.roleDeptLocId }}" class="view-emp"
        >View all Employees</a
      >
    </div>
  </div>
  }
</div>
