<div class="right-header">
  <div>
    <input type="search" placeholder="Search" class="input-search" />
  </div>
  <div class="logo-img">
    <div><img src="assets/language.png" /></div>
    <div><img src="assets/widget.png" /></div>
    <div><img src="assets/mode.png" /></div>
    <div><img src="assets/notification.png" /></div>
    <div class="user-img">
      <img src="assets/Anand.jpg" class="person-icon" />
      <div class="active-symbol"></div>
    </div>
    <div class="admin-details">
      <pre class="admin-name">Jhon Abraham</pre>
      <pre class="admin-role">Admin</pre>
    </div>
    <div class="down-arrow">
      <img src="assets/downArrow.jpg" />
    </div>
  </div>
</div>
